<% provide(:title, 'About us') %>
<div id="page"><h1>About Us</h1>
    <div id="content"><p><h2>Company Overview</h2></p>
    <p>We provide details of over 20,300 universities located in the world. We evaluate the standard
    of the universities from their current university world ranking and we provide all the universities'
    information for intending students. This ranking results are obtained
    from <a href="http://www.webometrics.info">Webometrics.info website</a>.</p></div>
    <div id="sidebar"><h3>Quick Links</h3>
            <ul class="links">
              <li><a href="/universities">University</a></li>
              <li><%= link_to 'Contact', contact_path %></li>
              <li><%= link_to 'Home', root_path %></li> 
            </ul>
    </div>
    <div itemscope="itemscope" itemtype="http://schema.org/LocalBusiness">
    <span itemprop="name">School-window</span>
    <div itemprop="address" itemscope="itemscope" itemtype="http://schema.org/PostalAddress">
        <span itemprop="streetAddress">25 Brierfield Terrace</span>
        <span itemprop="addressLocality">ABERDEEN</span>,
        <span itemprop="addressRegion">Scotland</span>
        <span itemprop="postalCode">AB16 5XT</span>
        <span itemprop="addressCountry">GB</span>
    </div>
    Phone: <span itemprop="telephone">+447748179270</span>
    Website: <a itemprop="URL">https://www.school-window.com</a>
</div>

</div>