<% provide(:title, 'Contact') %>
<div id="page">
<div id="content">
<h1>Contact Details</h1>  
  <p>Please click <a href="http://www.webometrics.info">here</a> to get
further details and contacts on universities. You can also reach us on:
  <li><strong>Phone number</strong> +447748179270</li>
  <li><strong>Email</strong> eseosaoshodin@yahoo.com</li></p>
  <%= image_tag("contact.jpg", :alt => "Education", :class=> "round")%></div>
  <div id="sidebar">
    <h3>Quick Links</h3>
            <ul class="links">
              <li><a href="/universities">University</a></li>
              <li><%= link_to 'Home', root_path %></li>
              <li><%= link_to 'About us', about_path %></li>
            </ul>
  </div>
</div>