<% provide(:title, 'Help') %>
<div id="page"><h1> Help Centre</h1>
  <div id="content">
  <div id="accordion">
  <h3><a href="#">How to add a new University</a></h3>
  <div><ol>
  <li>Click on the "University" link</li>
  <li>You would be directed to sign-in or sign-up before viewing the University page</li>
  <li>From the University page, click on the "New University" link.</li>
  <li>Type in the name, Details and location of the university.</li>
  <li>Click on "Create University" button to add the university.</li>
  </ol></div>
  <h3><a href="#">How to change a University's detail</a></h3>
  <div><ol>
  <li>From the university page, click on the "edit" link.</li>
  <li>After making all the changes, click on the "Update" button to save the changes.</li>
  </ol></div>
  <h3><a href="#">How to search for an existing University</a></h3>
  <div><ol>
  <li>From the University page, Type in a keyword.</li>
  <li>Click on "Send" button to search for the University.</li>
  </ol></div>
  </div>
  </div>
</div>
