<% provide(:title, 'Home') %>
<div id="page">
    <h1>University Window - Obtaining Knowledge Is Power</h1>
    <p>
      <div id="content">Are you looking for the best university close to you to attend? Then begin the road to success...
      search and add the <a href="/universities">university</a> for the future.
      <%= image_tag("search2.jpg", :alt => "Education", :class=> "round")%>
      </div>
      <div id="sidebar"><h3>Quick Links</h3>
            <ul class="links">
              <li><a href="/universities">University</a></li>
              <li><%= link_to 'Contact', pages_contact_path %></li>
              <li><%= link_to 'About us', pages_about_path %></li>
              <li><a href="/sign_up">SignUp</a></li>
              <li><a href="/log_in">Login</a></li>
            </ul>
      </div>
    </p>
</div>
