<footer class="footer">
  <small>
    <a href="/universities">University</a>
    by Eseosa Oshodin
    <a href="http://www.refsnesdata.no/certification/w3certified.asp?id=4536637">
    <img src="assets/w3cert.png" border="0" /></a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Help",  help_path %></li>
      <li><a href="http://www.webometrics.info">News</a></li>
    </ul>
  </nav>
</footer>
