<footer class="footer">
  <small>
    <a href="/universities">University</a>
    by Eseosa Oshodin
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Help",  help_path %></li>
      <li><a href="http://www.webometrics.info">News</a></li>
    </ul>
  </nav>
</footer>
